
body{
    font-weight: bolder;
    font-family: system-ui;
}

h1{
    color: darkorange;
    background-color: black;
}

h2{
   color: blue;
   background-color: black; 
}

h3{
    color: aqua;
    background-color: black;
}